$primary-color: #FA8E43;
$secondary-color: #23384F;
$primary_white: #ffffff;
$primary_black: #192535;
$primary_blue:#009fe2;
$primary_para_color:oklch(50% .025 240);
$primary-green:#09672e;
$primary-red:#e62b34;

$primary-bg:#f6fafe;
$secondary_bg:#e3f6fc;
$dark_blue_bg:oklch(24% .08 258);
$primary_light_blue:#f1f7f5;
$primary_text_color:#f4fcff;


$travel-primary: #0f4c81;   // Deep Ocean Blue
$travel-secondary: #ff7a18; // Sunset Orange
$travel-dark: #16213e;      // Deep Navy
$travel-light: #f8fbff;
$primary-light-green:#22c55e;



$primary_regular_Rubik: 'Rubik-Regular';
$primary_medium_Rubik: 'Rubik-Medium';
$primary_semiBold_Rubik: 'Rubik-SemiBold';
$primary_bold_Rubik: 'Rubik-Bold';



$primary_regular: 'Montserrat-Regular';
$primary_medium: 'Montserrat-Medium';
$primary_semiBold: 'Montserrat-SemiBold';
$primary_bold: 'Montserrat-Bold';

$primary_regular_Poppins: 'Poppins-Regular';
$primary_medium_Poppins: 'Poppins-Medium';
$primary_semiBold_Poppins: 'Poppins-SemiBold';
$primary_bold_Poppins: 'Poppins-Bold';




$primary_regular_Dm: 'DMSans-Regular';
$primary_medium_Dm: 'DMSans-Medium';
$primary_semiBold_Dm: 'DMSans-SemiBold';
$primary_bold_Dm: 'DMSans-Bold';

$primary_regular_PlayfairDisplay: 'PlayfairDisplay-Regular';
$primary_medium_PlayfairDisplay: 'PlayfairDisplay-Medium';
$primary_semiBold_PlayfairDisplay: 'PlayfairDisplay-SemiBold';
$primary_bold_PlayfairDisplay: 'PlayfairDisplay-Bold';